
// copyWrite Hean 2023
#body{
    margin: 0;
    color: #000000;
    background-color: #000000;
    display: flex;
    justify-content: left;
    align-items: center;

    scrollbar-width: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    #canvas{
        position: absolute;
        background-color: #000000;
        top: 0;
        left: 0;
        height: 100vh;
    }
    .constant-text{
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: #f00;
        color: #fff;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: 700;
        font-family: 'Sedgwick Ave Display', cursive;
    }
    .side_menu{
        position: fixed;
        top:0%;
        width: 100vw;
        background-color: #00000088;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        z-index: 1000;
        .side_menu_items{
            display: flex;
            width: 100%;
            perspective: 500px;
            justify-content: center;
            align-items: start;
            font-size: calc(0.5rem + 1vw);
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            $items-count: 6;
            
            .item{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                opacity: 0.8;
                transform-origin: center;
                margin-bottom: 1rem;
                color: #eee;
                border-radius: 2rem;
                gap: 20px;
                padding: 10px;
                box-shadow: #000000 0px 0px 10px;
                .elements{
                    display: none;
                }
                .back_btn{
                    display: none;
                }
                span{
                    font-size: calc(0.5rem + 1vw);
                }
                img{
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    margin-right: 1rem;
                    top: -100px;
                }
                transition: all 0.5s ease;
                &:hover{
                    opacity: 1;
                    transform: scale(1.2);
                }
                &.hide{
                    display: none;
                }
                &.current{
                    position: absolute;
                    width: 100%;
                    height: 100vh;
                    opacity: 1;
                    justify-content: start;

                    
                    &::before{
                        content: "Taper sur l'écran pour revenir en arrière";
                        font-style: italic;
                        font-size: calc(0.5rem + 1vw);
                    }
                    //Since child one is the image
                    img{
                        align-self: baseline;
                        transform: scale(2);
                    }
                    span{
                        color: rgb(255, 255, 255);
                        font-size: calc(0.5rem + 2vw);
                        font-family: 'Sedgwick Ave Display', cursive;
                    }
                    .back_btn{
                        display: flex;
                        position: absolute;
                        top: -100px;
                        color: #eee;
                        padding: 10px;
                        border-radius: 0.4rem;
                        background-color: #000000;
                        z-index: 3000;
                        &:hover{
                            background-color: #f00;
                            color: #000000;
                        }
                    }
                    .elements{
                        display: flex;
                        //position: absolute;
                        width: 100vw;
                        justify-content: center;
                        flex-wrap: wrap;
                        overflow-y: scroll;
                        scrollbar-width: none;
                        -ms-overflow-style: none;
                        .element{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            max-width: 400px;
                            background-color: #000000;
                            margin: 5px;
                            border-radius: 2rem;
                            box-shadow: #eee 0px 0px 10px;
                            .article{
                                font-family: 'Sedgwick Ave Display', cursive;
                                display: flex;
                                justify-content: space-around;
                                gap: 40px;
                                color: #eee;
                                span{
                                    color: #eee;

                                }
                            }
                            p{
                                font-family: 'Montserrat', sans-serif;
                                padding: 10px;
                                background-color: black;
                                font-style: italic;
                                font-size: 1rem;
                                font-weight: 700;
                                text-align: center;
                                color: #ffffff;
                                border-radius: 1.32rem;
                                z-index: 2000;
                            }
                        }
                    }
                    
                    &:hover{
                    opacity: 1;
                    transform: scale(1);
                    }
                }

            }
            
            
            a{
                text-decoration: none;
                color: #fff;
            }

        }

        // Arrow 
        .arrow{
            position: absolute;
            top: 50%;
            left: 0;
            //transform: translateY(-50%);
            width: 50px;
            height: 50px;
            background-color: #fff;
            border: #fff solid 2px;
            clip-path: circle();
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover{
                color: #fff;
                padding: 5px;
                
            }


        }
    }
}
